<a href="https://colab.research.google.com/github/Karicolin/B1-Procesamiento-de-Datos-con-Python-2020-2021/blob/master/parte_2_session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1s True, 0s False

In [1]:
print(f'{(""):8}|{("True"):8}|{("False"):8}')
print(f'{("True"):8}|{(True and True):8}|{(True and False):8}')
print(f'{("False"):8}|{(False and True):8}|{(False and False):8}')

        |True    |False
True    |       1|       0
False   |       0|       0

veamos que pasa si se usa treu con comparaciones

In [2]:
(5>2) and (10 == 10)

True

In [3]:
(5>2) and (10<8)

False

In [4]:
(5 != 5) and (10 > 2)

False

In [5]:
(5 != 5) and (10 == 3)

False

usando el operador con la función filter

In [13]:
numeros =  [3,6,78,54,36,55,32,13,37,89,87,88,90,63,74,6,97,6,3,225,46,79]
#filtar todos los num non y <= 50
def numero_es_par(numero):
  if numero % 2 == 0:
    return True
  else:
    return False

In [11]:
def numero_es_mayor_a_50(numero):
  if numero > 50:
    return True
  else:
    return False

como filter solo recibe una funcion, se debe hacer una nueva func que utilice lad dos func anteriores para regresar true solo si un numes a la vez par y mayor a 50

In [12]:
def numero_es_par_y_numero_es_mayor_a_50(numero):
  if numero_es_par(numero) and numero_es_mayor_a_50(numero):
    return True
  else:
    return False

In [14]:
list(filter(numero_es_par_y_numero_es_mayor_a_50, numeros))

[78, 54, 88, 90, 74]

USOS DE OR
1 True 0 False

In [15]:
print(f'{(""):8}|{("True"):8}|{("False"):8}')
print(f'{("True"):8}|{(True or True):8}|{(True or False):8}')
print(f'{("False"):8}|{(False or True):8}|{(False or False):8}')

        |True    |False
True    |       1|       1
False   |       1|       0

In [16]:
(4<19) or (12>34)

True

In [17]:
(3>34) or (10 == 22)

False

In [19]:
#usando funcion filter
numeros =  [3,6,78,54,36,55,32,13,37,89,87,88,90,63,74,6,97,6,3,225,46,79]
def numero_es_par_y_numero_es_mayor_a_50(numero):
  if numero_es_par(numero) and numero_es_mayor_a_50(numero):
    return True
  else:
    return False
list(filter(numero_es_par_y_numero_es_mayor_a_50, numeros))

[78, 54, 88, 90, 74]

USOS DE NOT, REGRESAR EL BOOLEANO AL PUESTO QUE RECIBIÓ

In [20]:
print (f'{("True"):8}|{(not True):8}')
print (f'{("False"):8}|{(not False):8}')

True    |       0
False   |       1

In [23]:
def numero_es_par(numero):
  if numero % 2 == 0:
    return True
  else:
    return False

In [24]:
list(filter(numero_es_par, numeros))

[6, 78, 54, 36, 32, 88, 90, 74, 6, 6, 46]

obteniendo una lista solo con num nones. Se puede escribir otra funcion que regrese true cuando el num sea non. Pero se puede usar la funcion que se tiene y revertir el valor que se regresa

list(filter(lambda x: not numero_es_par(x), numeros))

In [27]:
#USO DE SINTAXIS LAMBDA
lambda x: x * 100

In [29]:
numeros = [1,2,3,4,5,6,7,8]
list(map(lambda x: x * 100, numeros))

[100, 200, 300, 400, 500, 600, 700, 800]

ussos de map

In [30]:
list(map(lambda x: x * (x +1), numeros))

[2, 6, 12, 20, 30, 42, 56, 72]

In [32]:
#USO DE FILTER
list(filter(lambda x: x>5, numeros))

[6, 7, 8]

aqui se filtran tofos los num iguales o menores a 5 con una sola linea

In [33]:
list(filter(lambda x: not numero_es_par(x), numeros))

[1, 3, 5, 7]